{
    "use_local_repository": "no",
    "remote_repository_url": {
        "jiskefet_api": "https://github.com/",
        "jiskefet_ui": "https://github.com/"
    },
    "repository_branch":{
        "jiskefet_api": "master",
        "jiskefet_ui": "master"
    },
    "api_port_number": 3000,
    "database_config": {
        "type": "mysql",
        "host": "",
        "port": 3306,
        "username": "",
        "password": "",
        "database": "",
        "entities": [
            "src/**/**.entity{.ts,.js}"
        ],
        "synchronize": true
    },
    "allow_csp_payload": "\"default-src 'self' http://137.117.177.74 http://13.93.34.222 http://jiskefet.westeurope.cloudapp.azure.com https://github.com https://api.github.com; script-src 'self' https://use.fontawesome.com/releases/v5.3.1/js/all.js https://github.com https://api.github.com; style-src 'self' 'unsafe-inline'; object-src 'none'; font-src 'self' data: fonts.gstatic.com; img-src https://avatars2.githubusercontent.com http://jiskefet.westeurope.cloudapp.azure.com;\";"
}