---
# see https://github.com/SoftwareForScience/jiskefet-deploy/blob/develop/docs/configuration_file.md for more information
# regarding the configuration fields.

use_local_repository: 'no'
jiskefet_api_general_settings:
  TYPEORM_HOST:
  TYPEORM_USERNAME:
  TYPEORM_PASSWORD:
  TYPEORM_DATABASE:
  JWT_SECRET_KEY:
  JWT_EXPIRE_TIME: 1h
  SUB_SYSTEM_TOKEN_EXPIRES_IN: 365 days
  # USE_INFO_LOGGER: 'true'

jiskefet_oauth_settings:
  CLIENT_ID:
  CLIENT_SECRET:
  AUTH_REDIRECT_URI:
jiskefet_cern_oauth_settings:
  CERN_REGISTERED_URI:
jiskefet_api_optional_settings:
  TEST_DB_HOST: localhost
  TEST_DB_USERNAME:
  TEST_DB_PASSWORD:
jiskefet_ui_settings:
  API_URL: http://{{ ansible_default_ipv4.address }}/api/
allow_csp_payload: >-
  "default-src 'self' http://{{ ansible_default_ipv4.address }} https://{{ ansible_default_ipv4.address }}
  http://localhost:{{jiskefet_api_general_settings.PORT}} https://localhost:{{jiskefet_api_general_settings.PORT}}
  https://github.com https://api.github.com; script-src 'self' https://use.fontawesome.com/releases/v5.3.1/js/all.js
  https://github.com https://api.github.com; style-src 'self' 'unsafe-inline'; object-src 'none'; font-src 'self'
  data: fonts.gstatic.com; img-src https://*.githubusercontent.com
  http://{{ ansible_default_ipv4.address }} https://{{ ansible_default_ipv4.address }}"

