API_URL=http://localhost:3000/

USE_CERN_SSO=false

GITHUB_AUTH_URL=https://github.com/login/oauth/authorize?response_type=code&client_id=<CLIENT_ID_HERE>&redirect_uri=<redirect_uri>&state=yx_4404.!dcbR%40YR44yQ
CERN_AUTH_URL=https://oauth.web.cern.ch/OAuth/Authorize?response_type=code&client_id=<CLIENT_ID_HERE>&redirect_uri=<redirect_uri>
