# Possibly use https://gist.github.com/fevangelou/fb72f36bbe333e059b66 as a base config.

[client]
user=root
password={{ mysql_root_password }}
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8mb4
